Flask==2.2.2
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
marshmallow==3.17.0
marshmallow-sqlalchemy==0.28.1
mysql-connector-python==8.0.22
PyMySQL==1.0.2
SQLAlchemy==1.4.40

